@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 350;
}

.homeBanner {
  width: 100%;
  height: 60vh;
  background: url('assets/homeBanner.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
}

.btnMenu {
  width: 33vw;
}

.gallery-thumb {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
